openapi: 3.2.0
info:
  title: Malt - API Guidelines Invoices API
  version: 0.0.1
  description: '# Table of contents


    1.'
  contact:
    name: Malt API Support
    url: https://malt.com/support
servers:
- url: https://api.malt.com
  description: Production API server
security: []
tags:
- description: Operations related to freelancer invoices
  name: Invoices
paths:
  /freelancer/invoices:
    get:
      description: Get invoices for the authenticated freelancer within a specified date range
      operationId: findInvoices
      parameters:
      - description: Start date for the invoice search range
        example: '2023-01-01T00:00:00Z'
        explode: true
        in: query
        name: since
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: End date for the invoice search range (optional)
        example: '2023-12-31T23:59:59Z'
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvoiceResource'
                type: array
          description: List of invoices retrieved successfully
        '400':
          description: Bad request - invalid date format
        '401':
          description: Unauthorized - invalid or missing authentication
        '403':
          description: Forbidden - insufficient permissions
      summary: Retrieve a list of invoices from a date range
      tags:
      - Invoices
  /freelancer/invoices/{id}:
    get:
      description: Retrieve a specific invoice by its identifier
      operationId: getInvoice
      parameters:
      - description: Invoice identifier
        example: INV-123456
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResource'
          description: Found the invoice
        '401':
          description: Unauthorized - invalid or missing authentication
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Invoice not found
      summary: Get an invoice by its id
      tags:
      - Invoices
  /freelancer/invoices/{id}/pdf:
    get:
      description: Retrieve the PDF version of a specific invoice
      operationId: getInvoicePdf
      parameters:
      - description: Invoice identifier
        example: INV-123456
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PDFInvoiceResource'
          description: Found the invoice PDF
        '401':
          description: Unauthorized - invalid or missing authentication
        '403':
          description: Forbidden - insufficient permissions
        '404':
          description: Invoice not found
      summary: Get an invoice PDF by its id
      tags:
      - Invoices
components:
  schemas:
    CustomerResource:
      description: Represents a customer (client) for invoicing
      properties:
        name:
          description: Customer company or individual name
          example: Acme Corporation
          type: string
        street:
          description: Street address
          example: 123 Business Street
          type:
          - string
          - 'null'
        city:
          description: City name
          example: Paris
          type:
          - string
          - 'null'
        zip:
          description: Postal code
          example: '75001'
          type:
          - string
          - 'null'
        country:
          description: Country name
          example: France
          type:
          - string
          - 'null'
        countryCode:
          description: Country code (ISO format)
          example: FR
          type:
          - string
          - 'null'
        registrationNumber:
          description: Company registration number
          example: '123456789'
          type:
          - string
          - 'null'
        vatNumber:
          description: VAT identification number
          example: FR12345678901
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    PDFInvoiceResource:
      description: Represents an invoice in PDF format
      properties:
        id:
          description: Unique identifier for the invoice
          example: INV-123456
          type: string
        pdf:
          description: Base64 encoded PDF content
          example: SlZCRVJpMHhMalFLSmRQci4uLg==
          format: byte
          type: string
      required:
      - id
      - pdf
      type: object
    TaxResource:
      description: Represents a tax line item
      properties:
        name:
          description: Tax name or description
          example: VAT
          type: string
        amount:
          description: Tax amount in the invoice currency
          example: 200
          format: decimal
          type: number
        rate:
          description: Tax rate as a percentage
          example: 20
          format: decimal
          type: number
      required:
      - amount
      - name
      - rate
      type: object
    SupplierResource:
      description: Represents a supplier (freelancer) for invoicing
      properties:
        name:
          description: Supplier company or individual name
          example: John Doe Consulting
          type: string
        street:
          description: Street address
          example: 456 Freelancer Avenue
          type:
          - string
          - 'null'
        city:
          description: City name
          example: Lyon
          type:
          - string
          - 'null'
        zip:
          description: Postal code
          example: '69001'
          type:
          - string
          - 'null'
        country:
          description: Country name
          example: France
          type:
          - string
          - 'null'
        countryCode:
          description: Country code (ISO format)
          example: FR
          type:
          - string
          - 'null'
        registrationNumber:
          description: Company registration number
          example: '987654321'
          type:
          - string
          - 'null'
        vatNumber:
          description: VAT identification number
          example: FR98765432109
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    InvoiceResource:
      description: Represents a freelancer invoice
      properties:
        id:
          description: Unique identifier for the invoice
          example: INV-123456
          type: string
        title:
          description: Invoice title or description
          example: Web Development Services - March 2023
          type: string
        creationDate:
          description: Date when the invoice was created
          example: '2023-03-01T10:00:00Z'
          format: date-time
          type: string
        expectedPaymentDate:
          description: Expected payment date for the invoice
          example: '2023-03-31T23:59:59Z'
          format: date-time
          type: string
        externalId:
          description: External identifier for the invoice
          example: EXT-789
          type:
          - string
          - 'null'
        amountAllTaxesIncluded:
          description: Total amount including all taxes
          example: 1200
          format: decimal
          type: number
        amountWithoutTaxes:
          description: Amount excluding taxes
          example: 1000
          format: decimal
          type: number
        taxes:
          description: List of taxes applied to the invoice
          items:
            $ref: '#/components/schemas/TaxResource'
          type: array
        customer:
          $ref: '#/components/schemas/CustomerResource'
        supplier:
          $ref: '#/components/schemas/SupplierResource'
      required:
      - amountAllTaxesIncluded
      - amountWithoutTaxes
      - creationDate
      - customer
      - expectedPaymentDate
      - id
      - supplier
      - taxes
      - title
      type: object
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      description: API token obtained from your Malt representative
      scheme: bearer
      type: http
    ApiKeyAuth:
      description: 'To obtain an access token, please follow [these instructions](https://api.malt.com).

        '
      in: header
      name: Authorization
      type: apiKey
