openapi: 3.2.0
info:
  title: Malt - API Guidelines Payments API
  version: 0.0.1
  description: '# Table of contents


    1.'
  contact:
    name: Malt API Support
    url: https://malt.com/support
servers:
- url: https://api.malt.com
  description: Production API server
security: []
tags:
- description: Operations related to freelancer payments
  name: Payments
paths:
  /freelancer/payments:
    get:
      description: Get payment history for the authenticated freelancer within a specified date range
      operationId: findPayments
      parameters:
      - description: Start date for the payment search range
        example: '2023-01-01T00:00:00Z'
        explode: true
        in: query
        name: since
        required: true
        schema:
          format: date-time
          type: string
        style: form
      - description: End date for the payment search range (optional)
        example: '2023-12-31T23:59:59Z'
        explode: true
        in: query
        name: until
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PaymentResource'
                type: array
          description: List of payments retrieved successfully
        '400':
          description: Bad request - invalid date format
        '401':
          description: Unauthorized - invalid or missing authentication
        '403':
          description: Forbidden - insufficient permissions
      summary: Retrieve list of payments from a range of date
      tags:
      - Payments
components:
  schemas:
    PaymentResource:
      description: Represents a payment made to the freelancer
      properties:
        id:
          description: Unique identifier for the payment
          example: PAY-123456
          type: string
        date:
          description: Date when the payment was made
          example: '2023-04-01T10:00:00Z'
          format: date-time
          type: string
        amount:
          description: Payment amount
          example: 1200
          format: decimal
          type: number
        currency:
          description: Currency code for the payment
          example: EUR
          type: string
        wireRef:
          description: Wire transfer reference
          example: WIRE-REF-789
          type:
          - string
          - 'null'
        invoices:
          description: List of invoices covered by this payment
          items:
            $ref: '#/components/schemas/LightInvoiceResource'
          type: array
      required:
      - amount
      - currency
      - date
      - id
      - invoices
      type: object
    LightInvoiceResource:
      description: Lightweight representation of an invoice
      properties:
        id:
          description: Unique identifier for the invoice
          example: INV-123456
          type: string
        externalId:
          description: External identifier for the invoice
          example: EXT-789
          type:
          - string
          - 'null'
        type:
          $ref: '#/components/schemas/LightInvoiceType'
      required:
      - id
      - type
      type: object
    LightInvoiceType:
      description: Type of invoice
      enum:
      - SERVICE_FEES
      - INVOICE
      example: INVOICE
      type: string
  securitySchemes:
    BearerAuth:
      bearerFormat: JWT
      description: API token obtained from your Malt representative
      scheme: bearer
      type: http
    ApiKeyAuth:
      description: 'To obtain an access token, please follow [these instructions](https://api.malt.com).

        '
      in: header
      name: Authorization
      type: apiKey
